<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example components</title>

    <link rel="stylesheet" href="4-market.css">
</head>

<body>
    <div id="app">
        <marketplace>
            <component v-for="course in courses" :is="course.type" :key="course.id" :title="course.title" :subtitle="course.subtitle" :description="course.description" @add="addToCart">
            </component>
        </marketplace>

        <ul class="cart">
            <li v-for="course in cart">{{ course.title }} - {{ course.months }} meses</li>
        </ul>
    </div>

    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="4-market.js"></script>
</body>

</html>